<h1> Your question </h1>
<h3><%= @question.content%></h3>



<form action='/question/<%= @question.id %>/answers' method = "post">
  <input type=text placeholder="Please type your answer" name="answer">
  <input type="submit" value="Answer">
</form>

<% @question.answers.each do |answer| %>
  <p><%= answer.content %>
    <br>
    <br>
    <%= answer.upvote_counts %>
    <form action =<%= answer_upvote_url(answer) %> method = "post">
      <input type="submit" value ="Upvote">
    </form>
    <%= answer.downvote_counts %>
    <form action =<%= answer_downvote_url(answer) %> method = "post">
    <input type="submit" value ="Downvote">
  </form>
  </p>
<% end %>
